.weekend {
    background-color: #e0e0e0 !important;
}

#message-container-success,
#message-container-error {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    max-width: 300px;
    display: none; /* Cacher par défaut */
}
